<h1> Sign up page</h1>
<h2> Please fill the required fields: </h2>

<form action='/users' method='post'>
  email <input type="text" name="email">
  password <input type="password" name="password">
  <input type="submit" value="Sign up">
</form>
