
    <h1>Links</h1>
    <ul id='links'>
       <% @links.each do |link| %>
       <li>
<<<<<<< HEAD
         <a href='<%= link.url %>'><%= link.title %></a>
=======
         URL: <a href='<%= link.url %>'> Title: <%= link.title %></a>
>>>>>>> 3268726944d564220f1b3d6705e2b18296fe300a
       </li>
       <% end %>
    </ul>
