<h1> Enter new links: </h1>

<form action='/links' method='post'>
  URL: <input type="text" name="url">
  Title: <input type="text" name="title">
  Tag: <input type="text" name="tags">
  <input type="submit" value="Add Link">
</form>
