<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lynx, bebeh</title>
  </head>
  <body>
    <%= yield %>
    <form action='/links/new' method= 'GET'>
      <input type="submit" value="Add a new link">
    </form>
  </body>
</html>
